<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @ticket.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @ticket.category %>
</p>

<p>
  <strong>Issue date:</strong>
  <%= @ticket.issue_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @ticket.end_date %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ticket.price %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
